<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProdutos" maxReceivedMessageSize="600000" />
                <binding name="BasicHttpBinding_IGeocodeService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IGeocodeService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3486/Produtos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProdutos" contract="ProdutosServiceReference.IProdutos"
                name="BasicHttpBinding_IProdutos" />
            <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService"
                contract="GeocodeServiceReference.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
            <endpoint address="http://dev.virtualearth.net/webservices/v1/geocodeservice/GeocodeService.svc/binaryHttp"
                binding="customBinding" bindingConfiguration="CustomBinding_IGeocodeService"
                contract="GeocodeServiceReference.IGeocodeService" name="CustomBinding_IGeocodeService" />
        </client>
    </system.serviceModel>
</configuration>